*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
/*HEADER*/
.arya{
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: aliceblue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #10f5cc;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #10f5cc;
    transition: .4s;
}

.btn{
    background-color: #3a4f52;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}
/*END HEADER*/
/*CONTENT*/
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: aliceblue;
    font-size: 75px;
    margin: 20px 0 20px;
}

h3{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #10f5cc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslater form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslater form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #10f5cc;
    outline: none;
    border-radius: 30px;
}

.newslater form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #10f5cc;
    color: #1b2326;
    box-shadow: 0px 0px 5px #000, 0px 0px 10px #858585;
    top: 6px;
    right: 6px;
}
/*END CONTENT*/
/*ABOUT*/
.about{
    width: 100%;
    padding: 100px 0;
    background-color: #1b2326;
}

.about img{
    height: auto;
    width: 430px;
}

.a-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.a-text h2{
    color: aliceblue;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.a-text h5{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.a-text p{
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #3a4f52;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #10f5cc;
    cursor: pointer;
}
/*END ABOUT*/
/*SERVICE*/
.service{
    background: #1b2326;
    width: 100%;
    padding: 100px 0;
}
/*END SERVICE*/